# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.env
# Gradle files
/.idea/libraries
/.idea/modules.xml

# Gradle build files
.gradle/

# Gradle wrapper files
/gradle-wrapper.jar
/gradle-wrapper.properties
# Gradle cache
/.gradle/
# Gradle local configuration

